<%- include('partials/header'); -%>

<header>
  
  <div class="headings">
    <h2>Blogging App</h2>
    <h3>By NightKing For You</h3>
    <a href="/blogs" class="btn">Get Started</a>
  </div>
</header>


<%- include('partials/footer'); -%>